.rail {
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}

.rail p {
    padding: 2px 5px;
    border: 1px solid #ddd;
    border-bottom: 0;
}

.rail p:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.rail p:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}