{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "airbnb"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "indent": [2, 4],
    "comma-dangle": [0],
    "max-len": [2, 120],

    // React
    "react/jsx-indent": [2, 4],
    "react/no-danger": [0],
    "react/jsx-indent-props": [2, 4],

    // Preact
    "react/react-in-jsx-scope": 0,
    "no-unused-vars": ["error", { "varsIgnorePattern": "^h$" }]
  }
}
