$northern: #000;
$bakerloo: #894e24;
$central: #dc241f;
$circle: #ffce00;
$district: #007229;
$hammersmith: #d799af;
$jubilee: #6a7278;
$metropolitan: #751056;
$piccadilly: #0019a8;
$victoria: #00a0e2;
$waterloo: #76d0bd;
$overground: #e86a10;
$dlr: #00afad;

body {
  padding: 10px 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

h4 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;

  &-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;

    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
}

li {
  margin-left: 20px;
}

.northern {
  background: $northern;
  color: #FFF;
}

.bakerloo {
  background: $bakerloo;
  color: #FFF;
}

.central {
  background: $central;
}

.circle {
  background: $circle;
}

.district {
  background: $district;
  color: #FFF;
}

.hammersmith, .hammersmith-city {
  background: $hammersmith;
}

.jubilee {
  background: $jubilee;
  color: #FFF;
}

.metropolitan {
  background: $metropolitan;
  color: #FFF;
}

.piccadilly {
  background: $piccadilly;
  color: #FFF;
}

.victoria {
  background: $victoria;
}

.waterloo, .waterloo-city {
  background: $waterloo;
}

.london-overground {
  background: $overground;
}

.dlr {
  background: $dlr;
}

.rain::after {
  background: rgba(51, 122, 183, 0.3);
  content: '';
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-right: 1px solid rgba(51, 122, 183, 0.5);
}

@for $i from 1 through 100 {
  .rain-#{$i}:after {
    width: percentage($i/100);
  }
}

.text-center {
  text-align: center;
}

.icon {
  font-family: 'Zapf Dingbats', sans-serif;
}

.preloader {
  text-align: center;

  &.loaded {
    display: none;
  }
}

.content {
  display: none;

  &.loaded {
    display: block;
  }
}