.card {
    background: #EFF2F7;
    padding: 10px;
    color: #3C4858;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px 0 rgba(31,45,61,.15);
}

/*.card--rail {*/
    /*background: linear-gradient(150deg, #ffd89b, #19547b);*/
/*}*/
