* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f1f1f1;
  color: #333;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 1.45em;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

.title {
  padding-bottom: 10px;
  font-size: 2.75em;
}

.container {
  background: #FFF;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.hidden {
  display: none;
}

.a, a:visited {
  color: #FF7849;
}

li {
  margin-left: 20px;
}

.card {
  background: #EFF2F7;
  padding: 10px;
  color: #3C4858;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h2 {
  font-weight: 700;
  color: #3C4858;
}

.card .cardHeader {
  position: relative;
  margin-bottom: 10px;
}
