.title {
  padding-bottom: 10px;
  font-size: 2.75em;
}

.title a, .title a:visited {
  color: #3C4858;
  text-decoration: none;
}

.container {
  background: #FFF;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.hidden {
  display: none;
}

.a, a:visited {
  color: #FF7849;
}

li {
  margin-left: 20px;
}
